<div class="chimeraGallery-card">
	<figure class="chimeraGallery-figure" style="<%= Media.imageCssSet(record.id, {profile: 'chimera-gallery'}) %>">

	</figure>
	<div class="chimeraGallery-actions">
		<% Chimera.printActions('record', {className: 'btn-inline'}, record); %>
	</div>
</div>