<nav class="sideNav">
	<ul class="sideNav-collection">
		<li class="sideNav-link is-parent">
			<a class="sideNav-text" href="/">Administration</a>
		</li>
		<li class="sideNav-link is-parent">
			<a class="sideNav-text" href="/">Website</a>
			<ul class="sideNav-collection is-child">
				<li class="sideNav-link">
					<a class="sideNav-text" href="/chimera/editor/pages">Paginas</a>
				</li>
				<li class="sideNav-link">
					<a class="sideNav-text" href="/">Events</a>
				</li>
				<li class="sideNav-link">
					<a class="sideNav-text" href="/">Nieuws</a>
				</li>
				<li class="sideNav-link">
					<a class="sideNav-text" href="/">Spotlights</a>
				</li>
				<li class="sideNav-link">
					<a class="sideNav-text" href="/">Blocks</a>
				</li>
				<li class="sideNav-link">
					<a class="sideNav-text" href="/">Media</a>
				</li>
			</ul>
		</li>
		<li class="sideNav-link">
			<a class="sideNav-text" href="/">Extras</a>
		</li>
	</ul>
</nav>