<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css">
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
		<% this.foundation() %>
	</head>
	<body>
		<% assign('body') %>
	</body>
</html>